USE [master]
GO
/****** Object:  Database [AIRecruitmentDB]    Script Date: 7/21/2026 2:27:05 PM ******/
CREATE DATABASE [AIRecruitmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIRecruitmentDB', FILENAME = N'C:\Users\User\AIRecruitmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AIRecruitmentDB_log', FILENAME = N'C:\Users\User\AIRecruitmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIRecruitmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIRecruitmentDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/21/2026 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 7/21/2026 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[AppliedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[MatchScore] [float] NULL,
	[MatchedSkills] [nvarchar](max) NULL,
	[MissingSkills] [nvarchar](max) NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateProfiles]    Script Date: 7/21/2026 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](150) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[LinkedIn] [nvarchar](200) NULL,
	[GitHub] [nvarchar](200) NULL,
	[Portfolio] [nvarchar](200) NULL,
	[AboutMe] [nvarchar](max) NULL,
	[ResumeUrl] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[ResumeText] [nvarchar](max) NULL,
 CONSTRAINT [PK_CandidateProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewFeedbacks]    Script Date: 7/21/2026 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewFeedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[HiringManagerUserId] [int] NOT NULL,
	[TechnicalScore] [int] NOT NULL,
	[CommunicationScore] [int] NOT NULL,
	[ProblemSolvingScore] [int] NOT NULL,
	[CultureFitScore] [int] NOT NULL,
	[Comments] [nvarchar](2000) NOT NULL,
	[Recommendation] [nvarchar](50) NOT NULL,
	[Decision] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InterviewFeedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 7/21/2026 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Company] [nvarchar](150) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[JobType] [nvarchar](50) NOT NULL,
	[ExperienceLevel] [nvarchar](50) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PostedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/21/2026 2:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[About] [nvarchar](max) NULL,
	[Headline] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260712122152_InitialCreate', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260713145732_AddCandidateProfile', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260714180056_AddProfileFields', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [UserId], [JobId], [AppliedDate], [Status], [MatchScore], [MatchedSkills], [MissingSkills]) VALUES (6, 1, 6, CAST(N'2026-07-19T17:26:11.1612321' AS DateTime2), N'Hired', 0, N'', N'java')
INSERT [dbo].[Applications] ([Id], [UserId], [JobId], [AppliedDate], [Status], [MatchScore], [MatchedSkills], [MissingSkills]) VALUES (7, 1, 7, CAST(N'2026-07-19T18:56:43.1586264' AS DateTime2), N'Shortlisted', 0, N'', N'')
INSERT [dbo].[Applications] ([Id], [UserId], [JobId], [AppliedDate], [Status], [MatchScore], [MatchedSkills], [MissingSkills]) VALUES (9, 1, 9, CAST(N'2026-07-19T19:07:56.9614887' AS DateTime2), N'Shortlisted', 0, N'', N'')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateProfiles] ON 

INSERT [dbo].[CandidateProfiles] ([Id], [UserId], [Phone], [Address], [City], [Country], [LinkedIn], [GitHub], [Portfolio], [AboutMe], [ResumeUrl], [ProfileImage], [ResumeText]) VALUES (1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CandidateProfiles] ([Id], [UserId], [Phone], [Address], [City], [Country], [LinkedIn], [GitHub], [Portfolio], [AboutMe], [ResumeUrl], [ProfileImage], [ResumeText]) VALUES (3, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CandidateProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([Id], [Title], [Company], [Location], [JobType], [ExperienceLevel], [Salary], [Description], [PostedDate], [IsActive]) VALUES (6, N'sample 2', N'google', N'USA', N'Full Time', N'Entry', CAST(200000.00 AS Decimal(18, 2)), N'we are looking for java script users', CAST(N'2026-07-19T17:25:39.8164313' AS DateTime2), 1)
INSERT [dbo].[Jobs] ([Id], [Title], [Company], [Location], [JobType], [ExperienceLevel], [Salary], [Description], [PostedDate], [IsActive]) VALUES (7, N'sample 3', N'google', N'USA', N'Full Time', N'Entry', CAST(2000000.00 AS Decimal(18, 2)), N'sample job 3', CAST(N'2026-07-19T18:56:03.2093473' AS DateTime2), 1)
INSERT [dbo].[Jobs] ([Id], [Title], [Company], [Location], [JobType], [ExperienceLevel], [Salary], [Description], [PostedDate], [IsActive]) VALUES (9, N'sample 1', N'google', N'india', N'Contract', N'Entry', CAST(200000.00 AS Decimal(18, 2)), N'looking for some who familiar with AI', CAST(N'2026-07-19T19:07:43.6160719' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [About], [Headline], [Location], [Phone], [IsActive]) VALUES (1, N'Hasith Ransara', N'hasith@gmail.com', N'$2a$11$NnisF2xujGCGIsKnmi3eAur/LhXmHR3jaYkxYpBigCkFNwIP7I3ae', N'Candidate', CAST(N'2026-07-12T12:56:31.0267507' AS DateTime2), NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [About], [Headline], [Location], [Phone], [IsActive]) VALUES (2, N'Hasith Ransara', N'hasith1@gmail.com', N'$2a$11$D9ifst5B0c3a01fe5y4EWOeTieiFoD2OKMwhmbR1FYbUImx/yhCAO', N'Recruiter', CAST(N'2026-07-14T12:11:20.0262044' AS DateTime2), NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [About], [Headline], [Location], [Phone], [IsActive]) VALUES (3, N'pasan', N'admin@gmail.com', N'$2a$11$NjaHIyubDtsvbCvODxlAO.hSw0PmRURiNH.9nHHvuouoPL7ZnWtdi', N'Admin', CAST(N'2026-07-20T14:41:33.5749155' AS DateTime2), NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Applications_JobId]    Script Date: 7/21/2026 2:27:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_JobId] ON [dbo].[Applications]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_UserId]    Script Date: 7/21/2026 2:27:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_UserId] ON [dbo].[Applications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CandidateProfiles_UserId]    Script Date: 7/21/2026 2:27:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CandidateProfiles_UserId] ON [dbo].[CandidateProfiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InterviewFeedbacks_ApplicationId]    Script Date: 7/21/2026 2:27:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InterviewFeedbacks_ApplicationId] ON [dbo].[InterviewFeedbacks]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InterviewFeedbacks_HiringManagerUserId]    Script Date: 7/21/2026 2:27:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_InterviewFeedbacks_HiringManagerUserId] ON [dbo].[InterviewFeedbacks]
(
	[HiringManagerUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InterviewFeedbacks] ADD  DEFAULT (N'Pending') FOR [Recommendation]
GO
ALTER TABLE [dbo].[InterviewFeedbacks] ADD  DEFAULT (N'Pending') FOR [Decision]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Jobs_JobId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Users_UserId]
GO
ALTER TABLE [dbo].[CandidateProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CandidateProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CandidateProfiles] CHECK CONSTRAINT [FK_CandidateProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[InterviewFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_InterviewFeedbacks_Applications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InterviewFeedbacks] CHECK CONSTRAINT [FK_InterviewFeedbacks_Applications_ApplicationId]
GO
ALTER TABLE [dbo].[InterviewFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_InterviewFeedbacks_Users_HiringManagerUserId] FOREIGN KEY([HiringManagerUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InterviewFeedbacks] CHECK CONSTRAINT [FK_InterviewFeedbacks_Users_HiringManagerUserId]
GO
USE [master]
GO
